* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}   
a{
    text-decoration: none;
}   

h1{
    text-align: center;
}
h2{
    text-align: center;
}


ul{
    list-style-type:lower-greek;
}


/* parts section */

.part-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 70px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
.part-title span{
    color: orange;
}

.part {
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 0;
    
}

/* end Parts section */


/* step start */


.step{
    width: 100%;
}


.step-img img{
    width: 100%;
    height: 100%;
    
}

.all-steps{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.step{
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;
    
}

.step-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, rgb(27, 35, 75), rgb(123, 148, 177));
    color: white;
    /* text-align: center; */
}

.step-info ul{
    margin-left: 23px;
    /* text-align: center; */
}

.step-info h1{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

/*  end step */





/* part list */
.partImg{
    border-radius: 50px;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.partlist {

    background-image: linear-gradient(60deg, rgb(171, 146, 55), rgb(123, 148, 177));
    flex-direction: column;
    max-width: 800px;
    margin: 40px auto;
    padding: 50px 0;
    padding-left: 100px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    
}

/* end part list */


/* for the lets get started message */
.fullscreenText{
    max-width: 800px;
    margin: auto;
    font-size: 1rem;
    font-weight: 300;
    color: rgb(39, 35, 85);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}





/* sections */
#part1{
    background-color: rgb(227, 249, 255);
}
#part2{
    background-color: rgb(227, 255, 241);
}
#part3{
    background-color: rgb(228, 255, 227);
}
#part4{
    background-color: rgb(245, 255, 227);
}
#part5{
    background-color: rgb(255, 248, 227);
}
#part6{
    background-color: rgb(255, 233, 227);
}
#part7{
    background-color: rgb(255, 227, 249);
}
#part8{
    background-color: rgb(235, 227, 255);
}






.container{
    min-height: 100vh;            /* fall-back */
    min-height: fill-available;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#intro{
    background-image: url("img/PSR.jpeg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#intro::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#intro h1{
    text-align: center;
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: white;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 0.6s;

}

#intro h1:nth-child(1) {
    animation-delay: 0.4s;
}

#intro h1:nth-child(2) {
    animation: text_reveal_color ease 0.5s forwards;
    animation-delay: 2s;
    font-weight: 300;
}

#intro h1 span:nth-child(1) span{
    animation-delay: 0s;
}

#intro h1:nth-child(2) span {
    animation-delay: 2s;
}

#intro h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(255, 140, 0);
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

#intro .cta{
    display: inline-block;
    padding: 10px 44px;
    color: rgb(255, 140, 0);
    background-color: transparent;
    border: 2px solid rgb(255, 140, 0);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: 0.1s ease-in;
    transition-property: background-color, color;
}

#intro .cta:hover{
    /* color: greenyellow; */
    background-color: black;
}





/* keyframes */
@keyframes text_reveal_box {
    50% {
        width: 10%;
        right: 0%;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes text_reveal {
    100%{
        color: white;
    }
    
}

@keyframes text_reveal_color {
    100%{
        color: yellow;
        

    }
    
}
